# Quick dirty little note from /etc/inputrc:
#  To get the key sequence for binding, you can abuse bash.
#  While running bash, hit CTRL+V, and then type the key sequence.
#  So, typing 'ALT + left arrow' in Konsole gets you back:
#    ^[[1;3D
#  The readline entry to make this skip back a word will then be:
#    "\e[1;3D" backward-word

"\eh": beginning-of-line
"\e\'": end-of-line
"\el": forward-char
"\ej": backward-char
"\e\"": forward-word
"\eH": backward-word

# as ‘delete’ key does
#"\e[3~": delete-char
# and this is as ‘backspace’
"\e;": backward-delete-char
"\e:": backward-kill-word
# ???
# "": quoted-insert
# inserts tab character
"\C-T": tab-insert
#upcase-word
#downcase-word
"\C-z": undo
"\C-Z": revert-line

## Refer to command line n.
# !n     
## Refer to the current command minus n.
# !-n    
## Refer to the previous command.  This is a synonym for `!-1'.
# !!     
## Refer to the most recent command preceding the current position in the history list starting with string.
# !string
## Refer to the most recent command preceding the current postition in the history list containing string.
## The trailing ? may be omitted if string is followed  immediately by a newline.
# !?string[?]
## Quick substitution.  Repeat the previous command, replacing string1 with string2.  
## Equivalent to ``!!:s/string1/string2/'' (see Modifiers below).
# ^string1^string2^
## The entire command line typed so far.
# !#     


"\C- ": set-mark
# ???
"\C-x ": exchange-point-and-mark
"^j": copy-region-as-kill
"\C-k": kill-region
"\C-y": yank 


"\C-l": clear-screen
"\C-r": redraw-current-line

"\ep": previous-history
"\en": next-history
"\eu": beginning-of-history
"\em": end-of-history
"\C-f": reverse-search-history
#forward-search-history
## non-incremetal- ???
#history-search-forward
## and -backward
"\C-xp": shell-expand-line
# history-expand-line
## ↓ M-TAB
#dynamic-complete-history

# execute line and load the comand from history for editing ???
# "\C-q": operate-and-get-next

# call $VISUAL, $EDITOR or ‘emacs’ and execute the result as a shell command
"\C-e": edit-and-execute-command

# (C-x C-r) re-read ~/.inputrc
"\C-x\C-r": re-read-init-file