## Nanorc files
include "/usr/share/nano/nanorc.nanorc"

## C/C++
include "/usr/share/nano/c.nanorc"

## HTML
include "/usr/share/nano/html.nanorc"

## Patch files
include "/usr/share/nano/patch.nanorc"

## Manpages
include "/usr/share/nano/man.nanorc"

## Groff
#include "/usr/share/nano/groff.nanorc"

## Perl
#include "/usr/share/nano/perl.nanorc"

## Python
#include "/usr/share/nano/python.nanorc"

## Bourne shell scripts
include "/usr/share/nano/sh.nanorc"

include "/usr/share/nano/gentoo.nanorc"

## Syntax Highlight Pack
## CSS
include "/usr/share/nano/css.nanorc"

## php
include "/usr/share/nano/php.nanorc"

## makefile .am
#include "/usr/share/nano/gentoo.nanorc"

set matchbrackets "(<[{)>]}"
set tabsize 4
set nowrap
#set autoindent
# Constantly display the cursor position in the status bar.
#set constantshow
set justifytrim
set linenumbers
set matchbrackets "(<[{)>]}"
# Jump to where non-space characters start,
# or if we’re already there – then to the real beginning of the line.
set smarthome
# Smooth scrolling.
set smooth
set whitespace "→·"
set regexp
# status-bar messages will disappear after 1 keystroke instead of 25.
set quickblank

# Specify the color combination to use for line numbers.
set numbercolor brightblue
set titlecolor white
set statuscolor brightgreen,black

# Colour formats:
#   fg/bg
#  [bright]colour/colour
# colour may be:  white, black, blue, green, red, cyan, yellow, and magenta.
