/*                                                            */
/* http://kb.mozillazine.org/UserChrome.css_Element_Names/IDs */
/*                                                            */

/* Change the tab-bar height */
tab {height: 12px !important;}
.tabbrowser-strip {height: 12px !important;}

/* Show tab loading indicator while the tab is loading */

.tabbrowser-tabs *|tab[busy] .tab-icon {
  display:-moz-box;
}

/* Never show “Open in New Window” when right clicking */
#context-openlink,
#context-openlinkprivate,
#context-sendimage,
#context-setWallpaper,
#context-setDesktopBackground,
#context-sendpage {
	display: none !important
}