# i3 config file (v4)

# ~/.env/.i3.config
# The main configuration file for i3 WM.

 # Run this script every reload
#
exec_always --no-startup-id "~/.env/set_keyboard.sh"
# And this one – once at the startup
exec --no-startup-id "~/.env/autostart.sh"


#
 #  Window controls
#


# font for window titles. ISO 10646 = Unicode
# font -misc-fixed-medium-r-normal--13-120-75-75-C-70-iso10646-1
font xft:Terminus 12

set $mod Mod4

 # Focus: ijkl – ↑←↓→
#            u – parent container
#            m – child container
#
bindcode $mod+31 focus up
bindcode $mod+44 focus left
bindcode $mod+45 focus down
bindcode $mod+46 focus right
bindcode $mod+30 focus parent
bindcode $mod+58 focus child

 # Move focused window
#
bindcode $mod+Shift+31 move up
bindcode $mod+Shift+44 move left
bindcode $mod+Shift+45 move down
bindcode $mod+Shift+46 move right

 # Change container layout (q=stacked, w=default, e=tabbed)
#
bindcode $mod+24 layout stacking
bindcode $mod+25 layout default
bindcode $mod+26 layout tabbed

 # In stacked/tabbed windows cursor may wrap in cycle
#
force_focus_wrapping no

 # Split: h – next window on the right
#         v – next window below
#
bindcode $mod+43 split h
bindcode $mod+55 split v

 # SPC – toggles tiling and floating
#
bindsym $mod+space floating toggle

 # mouse move – to drag floating windows
#
floating_modifier $mod

 # S-SPC – switches focus between floating and tiled windows
#
bindsym $mod+Shift+space focus mode_toggle

 # Focus X output: C-u – switch to the left one
#                  C-o – to the right one
#
bindcode $mod+Control+30 focus output left
bindcode $mod+Control+32 focus output right

 # f – fulscreen
#
bindcode $mod+41 fullscreen

 # c – close window
#
bindcode $mod+54 kill

 # x – window resizing mode
#
bindcode $mod+53 mode "resize"
# ijkl – to resize
# Enter or Esc – return to normal WM mode
mode "resize" {
	bindcode 31   resize grow height 10 px or 10 ppt
	bindcode 44   resize shrink width 10 px or 10 ppt
	bindcode 45   resize shrink height 10 px or 10 ppt
	bindcode 46   resize grow width 10 px or 10 ppt
	bindsym Return mode "default"
	bindsym Escape mode "default"
}

 # S-r – reload configuration file
#
bindcode $mod+Shift+27 exec "~/.env/update_config.sh --reload-i3"

 # C-r – Restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
#        Since this config is a template, it’s necessary to replace output names.
#
bindcode $mod+Control+27 exec "~/.env/update_config.sh --restart-i3"

 # C-q – quit
#
bindcode $mod+Control+24 exec "~/.env/on_quit.sh"

 # C-l – lock
#
bindcode $mod+Control+46 exec --no-startup-id \
	i3lock -d -f -i "$HOME/.env/[Commie] Takamiya Nasuno Desu! - 05 [54E7195B]_00:01:57.200.png"

 # C-t – to replay sequence that opens windows on the Main workspace.
#
bindcode $mod+Control+28 exec "~/.env/autostart.sh stop_after_main_workspace"

 # How to make it working?
#
#bindcode $mod+Control_L+29 exec "Xdialog --msgbox 'CONTROL_L+y' 0x0"
#bindcode $mod+Control_R+29 exec "Xdialog --msgbox 'CONTROL_R+y' 0x0"

 # Enter – runs urxvt client
#
bindsym $mod+Return exec urxvtc

 # r – run a one-command-shell, much like dmenu, but with an actual shell.
#      also see ~/.bashrc and ~/.Xresources.
#
bindcode $mod+27 exec --no-startup-id \
	/bin/bash -c 'export ONE_COMMAND_SHELL=t && urxvtc -name one_command_shell'


#
 #  Volume, microphone and music player
#


 # F1 – toggle play/pause on mpd
#
bindcode $mod+67 exec --no-startup-id mpc toggle

 # F2 – add the currently playing song to a playlist
#
bindcode $mod+68 exec --no-startup-id "~/bin/add2playlist.sh"
# C+F2 – create a new playlist instead
bindcode $mod+Control+68 exec --no-startup-id "~/bin/add2playlist.sh -c"

 # F3 – turn on/off the microphone
#       Better than setting it up in every IM client.
#       See ‘amixer scontrols | $PAGER’ for a complete list of controls.
#
bindcode $mod+69 exec --no-startup-id "amixer sset 'Capture',0 toggle"
# C+F3 – on/off the sound
bindcode $mod+Control+69 exec --no-startup-id amixer set Master toggle

 # F4 – remove the currently playing song from the mpd main playlist
#
bindcode $mod+70 exec --no-startup-id "mpc del 0"

 # F5 – volume down
#
bindcode $mod+71 exec --no-startup-id amixer set Master 2%-

 # F6 – mpd volume down
#
bindcode $mod+72 exec --no-startup-id eval mpc volume -2

 # F7 – mpd volume up
#
bindcode $mod+73 exec --no-startup-id eval mpc volume +2

 # F8 – volume up
#
bindcode $mod+74 exec --no-startup-id amixer set Master 2%+

 # F9 – switch to the previous song in mpd
#
bindcode $mod+75 exec --no-startup-id eval mpc prev

 # F10 – switch to the next song in mpd
#
bindcode $mod+76 exec --no-startup-id eval mpc next

 # F11 – switch random mode on/off in mpd
#
bindcode $mod+95 exec --no-startup-id eval mpc random

 # F12 – switch single mode on/off in mpd
#
bindcode $mod+96 exec --no-startup-id eval mpc single

 # y — show currently playing song in MPD
#
bindcode $mod+29 exec --no-startup-id eval '~/bin/mpc_show_playing_song.sh'


#
 #  Brightness
#


 # C-F5 – brightness down
#
bindcode $mod+Control+71 exec --no-startup-id xbacklight -dec 5

 # C-F8 – brightness up
#
bindcode $mod+Control+74 exec --no-startup-id xbacklight -inc 5


#
 #  Traffic shaping
#

 # C-F9 – turn shaping on an iface
#
#bindcode $mod+Control+75 exec --no-startup-id ~/bin/mute.sh

 # C-F10 – rutn shapiing off on an iface
#
#bindcode $mod+Control+76 exec --no-startup-id ~/bin/mute.sh unmute


#
 #  Streaming
#

 # C-F9 – turn shaping on an iface
#
bindcode $mod+Control+75 exec --no-startup-id ~/bin/streaming.sh start

 # C-F10 – rutn shapiing off on an iface
#
bindcode $mod+Control+76 exec --no-startup-id ~/bin/streaming.sh stop


#
 #  CD controls
#

 # C-F11    Eject
#
bindcode $mod+Control+95 exec --no-startup-id eject

 # C-F12    Pull the caret in
#
bindcode $mod+Control+96 exec --no-startup-id eject -t


#
 #  Screenshot.sh
#
#   It is useful to take screenshots in the way to get rid of further processing in GIMP,
#     i.e. take them in PNG or JPEG by desire, with or without delay, if it be PNG, shall
#     it be full RGB or indexed colours? Taking all that into account I’ve written out
#     the functions which will actually be in use, and that got me 6:
#
#     Fullscreen (PNG)
#     Fullscreen (JPEG)
#     Window (PNG only)  +delay
#     Area (PNG only)    +indexed
#
#   Thankfully, that fits the number of available keybindings for the left hand based on
#     Super, Alt, Shift, Control and S (the letter) keycodes, that is 7, but… it’s still
#     would be a pain to remember which modifier alternates what in conjunction with what.
#     So I’ve decided to use three keys for screen, window and area and use one modifier
#     key to alternate one thing: delay, indexed format and JPEG.
#

 # s – screen
#
bindcode --release $mod+39 exec --no-startup-id ". ~/bin/screenshot.sh"
#bindcode --release $mod+Control+39 exec --no-startup-id ". ~/bin/screenshot.sh -delay"
#bindcode --release $mod+Mod1+39 exec --no-startup-id ". ~/bin/screenshot.sh -indexed"
bindcode --release $mod+Shift+39 exec --no-startup-id ". ~/bin/screenshot.sh -jpeg"

 # a – window
#
bindcode   --release  $mod+38          exec  --no-startup-id  ". ~/bin/screenshot.sh -window"
bindcode   --release  $mod+Control+38  exec  --no-startup-id  ". ~/bin/screenshot.sh -window -delay"
#bindcode  --release  $mod+Shift+38    exec  --no-startup-id  ". ~/bin/screenshot.sh -window -indexed"
#bindcode  --release  $mod+Mod1+38     exec  --no-startup-id  ". ~/bin/screenshot.sh -window -jpeg"

 # z – area
#
bindcode --release $mod+52 exec --no-startup-id ". ~/bin/screenshot.sh -area"
#bindcode --release $mod+Control+52 exec --no-startup-id ". ~/bin/screenshot.sh -area -delay"
bindcode --release $mod+Shift+52 exec --no-startup-id ". ~/bin/screenshot.sh -area -indexed"
#bindcode --release $mod+Mod1+52 exec --no-startup-id ". ~/bin/screenshot.sh -area -jpeg"

 # d – recognise the number of characters
#
#bindcode --release $mod+40 exec --no-startup-id ". ~/bin/screenshot.sh -ocr"


#
 #  Wallpaper_setter.sh
#


 # G – restrict wallpapers to a subdirectory
#
bindcode $mod+42 exec --no-startup-id "~/bin/wallpaper_setter/wallpaper_setter.sh -r"

 # B – decrease brightness
#
bindcode $mod+56 exec --no-startup-id "~/bin/wallpaper_setter/wallpaper_setter.sh -b -0.1"

 # S-B – increase brightness
#
bindcode $mod+Shift+56 exec --no-startup-id "~/bin/wallpaper_setter/wallpaper_setter.sh -b +0.1"

 # N – change mode
#
bindcode $mod+57 exec --no-startup-id "~/bin/wallpaper_setter/wallpaper_setter.sh -m"

 # , (<) – switch to the previous wallpaper
#
bindcode $mod+59 exec --no-startup-id "~/bin/wallpaper_setter/wallpaper_setter.sh -p"

 # . (>) – swtich to the next wallpaper
#
bindcode $mod+60  exec --no-startup-id "~/bin/wallpaper_setter/wallpaper_setter.sh -n"

 # S-. (S-<) – force new wallpaper
#
bindcode $mod+Shift+60  exec --no-startup-id "~/bin/wallpaper_setter/wallpaper_setter.sh -fn"

 # / – keep current wallpaper
#
bindcode $mod+61 exec --no-startup-id "~/bin/wallpaper_setter/wallpaper_setter.sh -k"


#
 #  Mpv-tv block
#


 # NumPad 4 – previous channel
#
#bindcode $mod+83 exec --no-startup-id "mpv-tv.sh prev"

 # NumPad 6 – next channel
#
#bindcode $mod+85 exec --no-startup-id "mpv-tv.sh next"


#
 #  Workspaces
#


workspace 0:Main         output DVI-I-1
workspace 1:Firefox      output DVI-I-1
workspace 2:Sublime      output DVI-I-1
workspace 3:Thunar       output DVI-I-1
workspace 4:Geeqie       output DVI-I-1
workspace 5:Misc         output DVI-I-1
workspace 6:IM           output DVI-I-1
workspace 7:Wine         output DVI-I-1
workspace 8:GIMP         output DVI-I-1
workspace 9:MPD          output DVI-I-1
workspace 10:Outer_space output SLAVE_OUTPUT_0

 # Move focused container to workspace
#
bindcode $mod+Shift+49 move container to workspace 0:Main
bindcode $mod+Shift+10 move container to workspace 1:Firefox
bindcode $mod+Shift+11 move container to workspace 2:Sublime
bindcode $mod+Shift+12 move container to workspace 3:Thunar
bindcode $mod+Shift+13 move container to workspace 4:Geeqie
bindcode $mod+Shift+14 move container to workspace 5:Misc
bindcode $mod+Shift+15 move container to workspace 6:IM
bindcode $mod+Shift+16 move container to workspace 7:Wine
bindcode $mod+Shift+17 move container to workspace 8:GIMP
bindcode $mod+Shift+18 move container to workspace 9:MPD
bindcode $mod+Shift+19 move container to workspace 10:Outer_space
# bindcode $mod+Shift+20 move container to workspace 11:Mail
bindsym $mod+Shift+Tab move container to workspace back_and_forth

 #  Switching workspaces with bound applications
#
# `
bindcode $mod+49 workspace 0:Main
# 1
bindcode $mod+10 exec --no-startup-id "i3-msg workspace 1:Firefox && { pgrep -u $UID firefox &>/dev/null || { firefox --profile ~/.ff & } }"
# 2
bindcode $mod+11 exec --no-startup-id "i3-msg workspace 2:Sublime && { pgrep -u $UID -fx subl3 || { subl3 & } }"
# 3
bindcode $mod+12 exec --no-startup-id "i3-msg workspace 3:Thunar && { pgrep -u $UID thunar &>/dev/null || { thunar & } }"
# 4
bindcode $mod+13 exec --no-startup-id "i3-msg workspace 4:Geeqie && { pgrep -u $UID geeqie &>/dev/null || { geeqie & } }"
# 5
bindcode $mod+14 workspace 5:Misc
# 6
bindcode $mod+15 workspace 6:IM
# 7
bindcode $mod+16 workspace 7:Wine
# 8
bindcode $mod+17 exec --no-startup-id "i3-msg workspace 8:GIMP && { pgrep -u $UID gimp &>/dev/null || { gimp & } }"
# 9
bindcode $mod+18 exec --no-startup-id "i3-msg workspace 9:MPD && { pgrep -u $UID ncmpcpp &>/dev/null || { urxvtc -name ncmpcpp -e ncmpcpp & } }"
# 0
bindcode $mod+19 workspace 10:Outer_space
# -
# bindcode $mod+20 workspace "11:Mail"
# TAB   Back and forth
bindsym $mod+Tab workspace back_and_forth


#
 #  Windows
#


 # Assigning windows to workspaces
#
assign [class="Firefox"] → "1:Firefox"
assign [class="Emacs"] → "2:Sublime"
assign [class="(?i)subl3"] → "2:Sublime"
assign [class="Thunar"] → "3:Thunar"
assign [class="Geeqie"] → "4:Geeqie"
assign [class="(?i)libreoffice*"] → "5:Misc"
assign [class="Soffice"] → "5:Misc"
assign [class="^qemu*"] → "5:Misc"
assign [class="spicec"] → "5:Misc"
assign [class="com-sun-javaws-Main"] → "5:Misc"
# iLO
assign [class="sun-awt-X11-XFramePeer"] → "5:Misc"
assign [class="java-lang-Thread"] → "5:Misc"
assign [class="screenshot_preview"] → "5:Misc"
assign [class="GNS3"] → "5:Misc"
assign [class="Xephyr"] → "5:Misc"
assign [class="Pidgin"] → "6:IM"
assign [class="Skype"] → "6:IM"
assign [class="(?i)skype-bin"] → "6:IM"
assign [class="(?i)skypeforlinux"] → "6:IM"
# skype keylogger prompt
assign [class="(?i)gcr-prompter"] → "6:IM"
# telegramshit
assign [class="(?i)telegram"] → "6:IM"
assign [class="(?i)telegramdesktop"] → "6:IM"
assign [class="Wine"] → "7:Wine"
# Wine in emulating desktop mode
assign [class="explorer.exe"] → "7:Wine"
assign [class="Steam"] → "7:Wine"
assign [class="hl2_linux"] → "7:Wine"
assign [class="[tT]rine*"] → "7:Wine"
assign [class="StarConflict"] → "7:Wine"
assign [class="dota2"] → "7:Wine"
assign [class="Dwarf_Fortress"] → "7:Wine"
assign [class="DwarfTherapist"] → "7:Wine"
assign [class="Gimp"] → "8:GIMP"
assign [class="URxvt" instance="ncmpcpp"] → "9:MPD"
assign [class="mpv" instance="big_screen"] → "10:Outer_space"

 # Arbitrary commands for specific windows
#
for_window [class="URxvt" instance="one_command_shell"] floating enable
#for_window [class="URxvt" instance="one_command_shell"] new float 1pixel
for_window [class="spicec"] floating disable
for_window [class="Xdialog"] floating enable
for_window [class="Xephyr"] floating enable
for_window [class="at_msg"] floating enable
for_window [instance=at_msg] sticky enable
for_window [class="Yad"] floating enable
for_window [class="Convert Script"] floating enable
for_window [class="com-sun-javaws-Main"] floating disable
for_window [class="(?i)skype-bin"] → sticky disable

 # Window border style
#
new_window none
new_float pixel 1
hide_edge_borders both
focus_follows_mouse no

## Default
## class                    border  backgr. text    indicator
# client.focused            #4c7899 #285577 #ffffff #2e9ef4
# client.focused_inactive   #333333 #5f676a #ffffff #484e50
# client.unfocused          #333333 #222222 #888888 #292d2e
# client.urgent             #2f343a #900000 #ffffff #900000

 # Violet theme
#
## class                    border  backgr. text    indicator
#client.focused              #ad7fa8 #75507b #ffffff #ad7fa8
#client.focused_inactive     #555753 #3c3c3c #ffffff #ad7fa8
#client.unfocused            #555753 #3c3c3c #888888 #ad7fa8
#client.urgent               #ad7fa8 #ad7fa8 #ffffff #ff0000

 # Green theme
#
set $generic_background #3c3c3c
set $generic_border #555753
set $generic_text #ffffff
set $generic_text_pale #888888
set $generic_text_inactive_wsp #bbbbbb
set $generic_statusline #cccccc
set $generic_alert #ff0000
set $orange #df5757
set $pretty_red #c22f2f

set $dark_green #7fad83
set $light_green #567b50
## class                    border  backgr. text    indicator
client.focused              $dark_green      $light_green         $generic_text       $dark_green
client.focused_inactive     $generic_border  $generic_background  $generic_text_pale  $dark_green
client.unfocused            $generic_border  $generic_background  $generic_text_pale  $dark_green
client.urgent               $dark_green      $dark_green          $generic_text       $generic_alert


#
 #  i3bar
#


bar {
	# verbose yes
	# separator_symbol ":|:"
	output DVI-I-1
	position top
	mode dock # hide | dock | invisible
	tray_output primary # none | primary | <output>
	workspace_buttons yes
	strip_workspace_numbers yes
	status_command ". ~/.env/generate_json_for_i3bar.sh"
	wheel_up_cmd nop  # disable mouse wheel on workspace buttons
	wheel_down_cmd nop
	colors {
		background #3c3c3c
		statusline #cccccc
		focused_workspace    #ad7fa8 #75507b #ffffff
		active_workspace     #75507b #ad7fa8 #ffffff
		inactive_workspace   #3c3c3c #3c3c3c #bbbbbb
		urgent_workspace     #df5757 #c22f2f #ffffff
	}
	colors {
		background $generic_background
		statusline $generic_statusline
		focused_workspace    $dark_green          $light_green         $generic_text
		active_workspace     $light_green         $dark_green          $generic_text
		inactive_workspace   $generic_background  $generic_background  $generic_text_inactive_wsp
		urgent_workspace     $orange              $pretty_red          $generic_text
	}
}

# bar {
# 	output SLAVE_OUTPUT_0
# 	position top
# 	workspace_buttons yes
# }
