# i3 config file (v4)

# ~/.env/.i3.config
# The main configuration file for i3 WM.

 # Run this script every reload
#
exec_always --no-startup-id "~/.env/set_keyboard.sh"

#
 #  Window controls
#


# font for window titles. ISO 10646 = Unicode
# font -misc-fixed-medium-r-normal--13-120-75-75-C-70-iso10646-1
font xft:Terminus 12

set $mod Mod4

 # Focus: ijkl – ↑←↓→
#            u – parent container
#            m – child container
#
bindcode $mod+31 focus up
bindcode $mod+44 focus left
bindcode $mod+45 focus down
bindcode $mod+46 focus right
bindcode $mod+30 focus parent
bindcode $mod+58 focus child

 # Move focused window
#
bindcode $mod+Shift+31 move up
bindcode $mod+Shift+44 move left
bindcode $mod+Shift+45 move down
bindcode $mod+Shift+46 move right

 # Change container layout (q=stacked, w=default, e=tabbed)
#
bindcode $mod+24 layout stacking
bindcode $mod+25 layout default
bindcode $mod+26 layout tabbed

 # In stacked/tabbed windows cursor may wrap in cycle
#
force_focus_wrapping no

 # Split: h – next window on the right
#         v – next window below
#
bindcode $mod+43 split h
bindcode $mod+55 split v

 # SPC – toggles tiling and floating
#
bindsym $mod+space floating toggle

 # mouse move – to drag floating windows
#
floating_modifier $mod

 # S-SPC – switches focus between floating and tiled windows
#
bindsym $mod+Shift+space focus mode_toggle

 # Focus X output: C-u – switch to the left one
#                  C-o – to the right one
#
bindcode $mod+Control+30 focus output left
bindcode $mod+Control+32 focus output right

 # f – fulscreen
#
bindcode $mod+41 fullscreen

workspace 0:Main         output DVI-I-1

 # Window border style
#
new_window none
new_float pixel 1
hide_edge_borders both
focus_follows_mouse no

## Default
## class                    border  backgr. text    indicator
# client.focused            #4c7899 #285577 #ffffff #2e9ef4
# client.focused_inactive   #333333 #5f676a #ffffff #484e50
# client.unfocused          #333333 #222222 #888888 #292d2e
# client.urgent             #2f343a #900000 #ffffff #900000

 # Violet theme
#
## class                    border  backgr. text    indicator
#client.focused              #ad7fa8 #75507b #ffffff #ad7fa8
#client.focused_inactive     #555753 #3c3c3c #ffffff #ad7fa8
#client.unfocused            #555753 #3c3c3c #888888 #ad7fa8
#client.urgent               #ad7fa8 #ad7fa8 #ffffff #ff0000

 # Green theme
#
set $generic_background #3c3c3c
set $generic_border #555753
set $generic_text #ffffff
set $generic_text_pale #888888
set $generic_text_inactive_wsp #bbbbbb
set $generic_statusline #cccccc
set $generic_alert #ff0000
set $orange #df5757
set $pretty_red #c22f2f

set $dark_green #7fad83
set $light_green #567b50
## class                    border  backgr. text    indicator
client.focused              $dark_green      $light_green         $generic_text       $dark_green
client.focused_inactive     $generic_border  $generic_background  $generic_text_pale  $dark_green
client.unfocused            $generic_border  $generic_background  $generic_text_pale  $dark_green
client.urgent               $dark_green      $dark_green          $generic_text       $generic_alert


#
 #  i3bar
#


bar {
	# verbose yes
	# separator_symbol ":|:"
	output DVI-I-1
	position top
	mode hide  # hide | dock | invisible
	tray_output none  # none | primary | <output>
	workspace_buttons yes
	strip_workspace_numbers yes
	#status_command ". ~/.env/generate_json_for_i3bar.sh"
	wheel_up_cmd nop  # disable mouse wheel on workspace buttons
	wheel_down_cmd nop
	colors {
		background #3c3c3c
		statusline #cccccc
		focused_workspace    #ad7fa8 #75507b #ffffff
		active_workspace     #75507b #ad7fa8 #ffffff
		inactive_workspace   #3c3c3c #3c3c3c #bbbbbb
		urgent_workspace     #df5757 #c22f2f #ffffff
	}
	colors {
		background $generic_background
		statusline $generic_statusline
		focused_workspace    $dark_green          $light_green         $generic_text
		active_workspace     $light_green         $dark_green          $generic_text
		inactive_workspace   $generic_background  $generic_background  $generic_text_inactive_wsp
		urgent_workspace     $orange              $pretty_red          $generic_text
	}
}

# bar {
# 	output SLAVE_OUTPUT_0
# 	position top
# 	workspace_buttons yes
# }
